/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    background: url("images/fundo.png") top center repeat-x;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    width: 100%;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    min-width: 1080px;
    max-width: 1140px;
    width: 100%;
}

/*COMEÇO HEADER*/

#container header#header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1em 0;
    width: 100%;
}

#container header#header img {
    display: block;
    height: 100%;
    max-width: 20px;
    max-width: 250px;
    width: 100%;
}

#container nav.navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

#container nav.navigation a {
    color: #A86E13;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    margin: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
}

#container nav.navigation a:hover {
    text-decoration: underline;
}

/*FIM HEADER*/

/*COMEÇO ARTICLE*/

#container article#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1em 0;
    max-width: 740px;
    width: 65%;
}

#container article#content img {
    display: block;
    width: 100%;
}

#container article#content section.content-width {
    height: auto;
    margin: 0.5em auto;
    max-width: 360px;
    width: 49%;
}

#container article#content h2.title {
    color: #34A853;
    font-size: 1em;
    text-transform: uppercase;
}

#container article#content iframe {
    display: block;
    height: 200px;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

#container article#content .examples {
    height: auto;
    width: auto;
}

#container article#content .examples a {
    color: #A86E13;
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin: 0.1em 0;
    text-decoration: none;
}

#container article#content .examples a.strong {
    font-weight: 700;
}

#container article#content .examples a:hover {
    text-decoration: underline;
}

#container article#content p.text {
    font-size: 1em;
    font-weight: 500;
    margin: 1em auto;
    text-align: justify;
}

#container article#content a.read_more {
    color: #A86E13;
    display: block;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#container article#content a.read_more:hover {
    text-decoration: underline;
}

/*FIM ARTICLE*/

#container aside {
    background: #ECE5DD;
    margin: 1em 0;
    max-width: 360px;
    width: 50%;
}

#container aside img {
    width: 100%;
}

#container aside form {
    background: #CCC7B7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 1em 0;
    padding: 1em;
    width: 100%;
}

#container aside form fieldset {
    border: 0;
    padding: 1em;
}

#container aside form legend.title2 {
    margin: 0;
}

#container .title2 {
    color: #A86E13;
    display: block;
    font-size: 1em;
    font-weight: 700;
    margin: 1em;
    text-transform: uppercase;
    width: 100%;
}

#container aside form label {
    display: block;
    font-size: 1em;
    margin: 0.5em auto;
}

#container aside form input.button {
    background: #9C9176;
    border: 0;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 0;
    width: 100%;
}

#container aside form input.button:hover {
    background: #A86E13;
    cursor: pointer;
}

#container aside div.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

#container aside img.image {
    background: url("images/fundo-foto.png") top center no-repeat;
    display: block;
    margin: 0.5em auto;
    padding: 1em;
    width: 100px;
}

/*FIM ASIDE*/

/*COMEÇO FOOTER*/

#container footer {
    background: url("images/fundo-rodape.png") top center no-repeat;
    text-align: center;
    width: 100%;
}

#container footer nav.navigation ul {
    font-size: 1.2em;
    margin: 1em auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/*FIM FOOTER*/